<!-- <!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/emp_nav.css' %}">
    <title>employee navigation bar</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">OnboardEase</div>
            <nav>
                <ul>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#resources">Resources</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
            <a href="{% url 'logout' %}" class="btn btn-primary1" id="logout_btn">Logout</a>
        </div>
    </header>
</body>

</html> -->